body {
  margin: 0;
  background: radial-gradient(circle at 50% 50%, #f7f3ee 0%, #e3ded6 100%);

  font-family: -apple-system, "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
